[SddmGreeterTheme]
Name=melon
Description=melon's login screen
Author=melon
License=GPL-2.0-or-later
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=melon
Theme-API=2.0
QtVersion=6
